{% extends "/layout/management.twig" %}

{% block content %}

<div
    class="flex flex-col justify-center align-middle items-start space-y-6">

    <div>
        <h1 class="font-bold text-2xl text-stone-900">Quick Actions</h1>
    </div>

    <div
        class="flex flex-row justify-center align-middle items-center space-x-6 p-6
            border border-stone-300 rounded-md bg-white shadow-md">
    
        <button
            class="flex flex-row justify-between align-middle items-center space-x-3 px-3 py-1.5
                    border-none rounded-md bg-blue-500 hover:bg-blue-700
                    text-white">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M240,56v48a8,8,0,0,1-8,8H184a8,8,0,0,1,0-16H211.4L184.81,71.64l-.25-.24a80,80,0,1,0-1.67,114.78,8,8,0,0,1,11,11.63A95.44,95.44,0,0,1,128,224h-1.32A96,96,0,1,1,195.75,60L224,85.8V56a8,8,0,1,1,16,0Z"></path></svg>
            <p>Reboot Device</p>
        </button>

        <button
            class="flex flex-row justify-between align-middle items-center space-x-3 px-3 py-1.5
                    border-none rounded-md bg-blue-500 hover:bg-blue-700
                    text-white">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M120,128V48a8,8,0,0,1,16,0v80a8,8,0,0,1-16,0Zm60.37-78.7a8,8,0,0,0-8.74,13.4C194.74,77.77,208,101.57,208,128a80,80,0,0,1-160,0c0-26.43,13.26-50.23,36.37-65.3a8,8,0,0,0-8.74-13.4C47.9,67.38,32,96.06,32,128a96,96,0,0,0,192,0C224,96.06,208.1,67.38,180.37,49.3Z"></path></svg>
            <p>Shutdown Device</p>
        </button>

        <a
            href="/content/upload"
            class="flex flex-row justify-between align-middle items-center space-x-3 px-3 py-1.5
                    border-none rounded-md bg-blue-500 hover:bg-blue-700
                    text-white">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M240,136v64a16,16,0,0,1-16,16H32a16,16,0,0,1-16-16V136a16,16,0,0,1,16-16H80a8,8,0,0,1,0,16H32v64H224V136H176a8,8,0,0,1,0-16h48A16,16,0,0,1,240,136ZM85.66,77.66,120,43.31V128a8,8,0,0,0,16,0V43.31l34.34,34.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,77.66ZM200,168a12,12,0,1,0-12,12A12,12,0,0,0,200,168Z"></path></svg>
            <p>Upload New Video</p>
        </a>
    </div>
</div>


{% endblock %}