<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="LABMSOFTWARE">

    <!-- Tailwind Stylesheet -->
    <link rel="stylesheet" href="/css/app.css">

    <title>{{ page.title }}</title>
</head>
<body
    class="flex flex-row justify-center align-middle items-center min-h-screen w-full
        bg-stone-100">

    <div>
        <h1>Something isn't right.</h1>
        <p>
            SuprNDM should be back soon!
        </p>
    </div>
</body>
</html>