{% include "/layout/head.twig" %}

<body
    class="flex flex-col justify-center align-middle items-center w-full h-screen overflow-hidden
        bg-black">

    <div
        hx-get="/content/view"
        hx-swap="innerHTML"
        hx-trigger="load settle:1s"
        class="flex flex-col justify-center align-middle items-center w-full h-full
                bg-black">

        {% block content %}{% endblock %}
    </div>
</body>

{% include "/layout/tail.twig" %}