{% include "/layout/head.twig" %}

<body
    class="flex flex-col justify-center align-middle items-center w-full h-screen overflow-hidden
        bg-stone-100">

    {% block content %}{% endblock %}
</body>

{% include "/layout/tail.twig" %}